<h2 style="color:blue; font-size:20px;">Day-1_Practice</h2>

<h2 style="color:Orange; font-size:15px;">
    Printing text<br>
    - printing the output using print function
</h2>

In [2]:
print("python practice")

python practice

<h2 style="color:Orange; font-size:15px;">
    Python comments:<br>
These are used to:<br>
- explain complex logic<br>
- explain purpose of function or logic<br>
- temporarily disable code for debugging<br>
- document for others
</h2>

In [21]:
#single line comments using #
print("single line comments(using #)")

single line comments(using #)

In [19]:
'''multiline comments
'''
print('multiple line comments using single or double quotes')

multiple line comments using single or double quotes

<h2 style="color:Orange; font-size:15px;">
    Defining variables in python<br>
    Variable is the named reference given to the value stored in memory<br>
Rules for Defining Variables in Python:<br>
-Variable names must start with a letter (A–Z, a–z) or an underscore _ <br>
-Variable names can include letters, digits (0–9), and underscores _ only<br>
-Variable names cannot start with a digit<br>
-Variable names are case-sensitive (name, Name, and NAME are all different)<br>
-Python keywords (like if, for, class, etc.) cannot be used as variable names<br>
<br>
Best Practices for Naming Variables<br>
-Use descriptive, meaningful names (e.g., student_score instead of ss)<br>
-Use snake_case for multiple words (e.g., total_amount, is_logged_in)<br>
-Avoid using a single character unless it's in a loop (e.g., for i in range(5))<br>
-Avoid starting with an underscore unless indicating a private/internal variable<br>
-Keep names short but clear — avoid overly long or overly abbreviated names</h2>

In [28]:
#defining variable
name="Aparna"
print(name)
name1="Aparna16"
print(name1)
name3="_Aparna16"
name3

Aparna
Aparna16

'_Aparna16'

In [29]:
#below will give error
name="1Aparna"
print(name)
class="Aparna16"
print(class)
name3="Aparna-16"
name3

SyntaxError: invalid syntax (2336269924.py, line 4)

In [30]:
# assiging multiple values to multiple variables 
a,b,c=3,12,13
print(a)
print(b)
print(c)

3
12
13

In [33]:
#assigning same value to mulitple variables 
a=b=c=12
print(a)
print(b)
print(c)

12
12
12

<h2 style="color:Orange; font-size:15px;">
    Literals<br>
-it is a fixed value that is written in the code<br>
-represents the actual data assigned to a variable or used in an expression
</h2>

In [34]:
#string literals
a='name'
a

'name'

In [35]:
#numeric literals
x=12
x

12

In [36]:
#float literal
x=1.2
x

1.2

In [37]:
#complex literal
y=1+4j
y

(1+4j)

In [38]:
#Boolean literal
a=True
print(a)
b=False
print(b)

True
False

In [41]:
#None literal
z=None
print(z)

None

In [48]:
#collection literals
#list
l=[1,2,3,4]
print(f"List:{l}")
#tuple
t=(1,2,3,4)
print(f"tuple:{t}")
#dictionary
d={'id':12,'name':'aparna'}
print(f"dictionary:{d}")
#set
s={1,2,3}
print(f"set:{s}")

List:[1, 2, 3, 4]
tuple:(1, 2, 3, 4)
dictionary:{'id': 12, 'name': 'aparna'}
set:{1, 2, 3}

In [49]:
#unpacking a collection
colors=['red','green','blue']
x,y,z=colors
print(x)
print(y)
print(z)

red
green
blue

In [ ]:
<h2 style="color:Orange; font-size:15px;">
    Printing text<br>
    - printing the output using print function
</h2>

<h2 style="color:Orange; font-size:15px;">
    Global variables<br>
    - accessible anywhere in the function<br>
    Local variables<br>
    - accessible only in the defined function
</h2>

In [55]:
#defining the global variable x
x=10

def show():
    print("Global variable:",x)
show()

print("outside function:",x)

Global variable: 10
outside function: 10

In [59]:
#defining the local variable x
def greet():
    x="Hello"
    print("inside function:",x)

greet()
#print("outside function:",x)- this will give an error

inside function: Hello

<h2 style="color:Orange; font-size:15px;">
    Data types<br>
    - it defines the kind of value a variable holds<br>
    - it also defines what kind of operation can be done on a variable<br>
</h2>

In [62]:
#numerical data type
#1. integer
x=11
print(f"Integer data type:",x)
x=-10
print(f"Integer data type:",x)
#2. float
x=10.5
print(f"float data type:",x)
print(x)
#complex
x=4+2j
print(f"float data type:",x)

Integer data type: 11
Integer data type: -10
float data type: 10.5
10.5
float data type: (4+2j)

In [63]:
#string data type-character
name="Aparna"
print(f"string data type:",name)

string data type: Aparna

In [64]:
#Boolean data type-True or False
x=True
print(f"Boolean data type:",x)
x=False
print(f"Boolean data type:",x)

Boolean data type: True
Boolean data type: False

In [66]:
#Sequence data types
#list-mutable and ordered sequence of elements
l=[1,2,3]
print(f"List data type:",l)
#tuple-immutable and ordered sequence of elements
t=(1,2,3)
print(f"tuple data type:",t)
#range- sequence of elements
r=range(5)
print(f"range data type:",r)

List data type: [1, 2, 3]
tuple data type: (1, 2, 3)
range data type: range(0, 5)

In [71]:
#set data type
#set- mutable,unordered and unique
s={'apple','banana','watermelon','banana','apple'}
print(f"set data type:",s)
#frozen set-immutable set
f=frozenset([1,2,3])
print(f"frozenset data type:",f)

set data type: {'apple', 'watermelon', 'banana'}
frozenset data type: frozenset({1, 2, 3})

In [73]:
#mapping data type
#dictionary-key-value pairs
x={'name':'aparna','age':27}
print(f"dictionary data type:",x)

dictionary data type: {'name': 'aparna', 'age': 27}

In [74]:
#Binary data types
#bytes,bytearray,memoryview-these are used for binary data processing

In [75]:
#None data type
#represents the absence of a value
x=None
print(f"None data type:",x)

None data type: None

In [76]:
#to know the data type of a variable
#type()- this function is used to know the data type of the given variable
x=2
print(type(x))
x='name'
print(type(x))
x=[1,2,3]
print(type(x))

<class 'int'>
<class 'str'>
<class 'list'>

In [80]:
#casting
#changing the variable of data type to another data type
x=12
y=str(x)
print(str(y))#here x is string
print(type(y))

12
<class 'str'>

<h2 style="color:Orange; font-size:15px;">
    Rules for casting in python<br>
    - only compatible types can be cast<br>
    eg: str->int (only if it contains numerics)<br>
        float->int<br>
        int->str<br>
    -string->Lists or tuples<br>
    - Lists->tuples and vice versa<br>
</h2>

<h2 style="color:Orange; font-size:15px;">
    String operations
</h2>

In [91]:
#defining the function for separation
def sep():
    print("--------"*5)

In [94]:
#len() is used to know the length of string
x='aparna'
print("length of string:",{len(x)})
#iterating through each element in string
sep()
for i in x:
    print(i)
sep()
#in operator- to check the availability
print("n" in x)

length of string: {6}
----------------------------------------
a
p
a
r
n
a
----------------------------------------
True

<h2 style="color:Orange; font-size:15px;">
    indexing<br>
    - it is the process of accessing individual elements in a sequence of elements like strings,tuples and lists<br>
Rules of indexing:<br>
    -indexing starts from 0. first element has index 0<br>
    -negative indexing starts from -1.(-1 is the last element)<br>
    -indexing is done using square brackets
</h2>

In [98]:
#indexing on strings
a='aparna'
print(a[:3])
print(a[::-1])#reverse of a string
print(a[2:])

apa
anrapa
arna

In [105]:
#some more string operations
a='aparna'
print(a.upper())#converting to upper case
a="AParna"
print(a.lower())#converting to lower case
a=" Aparna "
print(a.strip())#removing the extra spaces at start and end of a string
a='aparna'
print(a.replace('a','n')) # replacing a with n
a='11-05-2025' #splitting the string at '-'
print(a.split('-'))

APARNA
aparna
Aparna
npnrnn
['11', '05', '2025']

In [107]:
#more string operations
a='aparna'
b = "naram"
print(a+b) # adding two strings 
print(a+"___"+b)
c =27.6678
print(f'my age is {c:.2f}') # until to decimals

aparnanaram
aparna___naram
my age is 27.67

In [110]:
#examples on boolean data type
print(10>11)
print(10==9)
print(9<90)

False
False
True

<h2 style="color:Orange; font-size:15px;">
    Operators in python<br>
    - these are symbols or keywords that perform operations on variables or values<br>
Types of operators:<br>
- Arithmetic operators<br>
- comparison operators<br>
- logical operators<br>
- assignment operators<br>
-membership operators<br>
-identity operators<br>
-bitwise operators
</h2>

In [123]:
#Arithmetic operators
a=24
b=76
#addition
t=a+b
print(f"Addition:",{t})
#subtraction
s=b-a
print(f"Subtraction:",{s})
#multiplication
p=b*a
print(f"multiplication:",{p})
#division
d=b/a
print(f"division:",{d})
#floor division-gives the integer
fd=b//a
print(f"floor division:",{fd})
#modulus-gives the remainder
m=b % a
print(f"modulus:",{m})
#exponential
e=b**a
print(f"exponential:",{e})

Addition: {100}
Subtraction: {52}
multiplication: {1824}
division: {3.1666666666666665}
floor division: {3}
modulus: {4}
exponential: {1378879181903229284421282144252718341922226176}

In [126]:
#comparison operators
#equal to
a=10
b=15
print(a==b)
#not equal to
print(a!=b)
#greater than
print(a>b)
#less than
print(a>b)
#greater than or equal to
print(a >= b)
#less than or equal to
print(a <= b)

False
True
False
False
False
True

In [128]:
#Logical operators
x = True
y = False

# Logical AND-	True if both are True
print("Logical AND (x and y):", x and y)  # Output: False

# Logical OR-True if at least one is True
print("Logical OR (x or y):", x or y)  # Output: True

# Logical NOT-	Reverses the result
print("Logical NOT (not x):", not x)  # Output: False

Logical AND (x and y): False
Logical OR (x or y): True
Logical NOT (not x): False

In [129]:
# Assignment operators
# Define an initial value
x = 10

# Basic Assignment
x = 10
print("Basic Assignment:", x)  

# Addition Assignment
x += 15  # Equivalent to x = x + 15
print("Addition Assignment:", x)  

# Subtraction Assignment
x -=5  # Equivalent to x = x - 5
print("Subtraction Assignment:", x) 

# Multiplication Assignment
x *= 4  # Equivalent to x = x * 4
print("Multiplication Assignment:", x)  

# Division Assignment
x /= 6  # Equivalent to x = x / 6
print("Division Assignment:", x)  

# Floor Division Assignment
x //= 2  # Equivalent to x = x // 2
print("Floor Division Assignment:", x)  

# Modulus Assignment
x %= 3  # Equivalent to x = x % 3
print("Modulus Assignment:", x)  

# Exponentiation Assignment
x **= 2  # Equivalent to x = x ** 2
print("Exponentiation Assignment:", x)

Basic Assignment: 10
Addition Assignment: 25
Subtraction Assignment: 20
Multiplication Assignment: 80
Division Assignment: 13.333333333333334
Floor Division Assignment: 6.0
Modulus Assignment: 0.0
Exponentiation Assignment: 0.0

In [131]:
#Membership operators
#in operators-True if value exists
x='data analysis'
print('data' in x)
#not in operator- True if value does not exist
print('data' not in x)

True
False

In [132]:
#Identity operators
#is- True if same object
#is not- True if not same object
x = [1, 2, 3]
y = [1, 2, 3]
z = x

# Identity is
print("Identity is (x is z):", x is z)  # Output: True

# Identity is not
print("Identity is not (x is not y):", x is not y)  # Output: True

Identity is (x is z): True
Identity is not (x is not y): True

In [133]:
# Bitwise operator
# Define variables
a = 60  # 0011 1100 in binary
b = 13  # 0000 1101 in binary

# Bitwise AND
print("Bitwise AND (a & b):", a & b)  # Output: 12 (0000 1100 in binary)

# Bitwise OR
print("Bitwise OR (a | b):", a | b)  # Output: 61 (0011 1101 in binary)

# Bitwise XOR
print("Bitwise XOR (a ^ b):", a ^ b)  # Output: 49 (0011 0001 in binary)

# Bitwise NOT
print("Bitwise NOT (~a):", ~a)  # Output: -61 (inverted bits of a)

# Bitwise Left Shift
print("Bitwise Left Shift (a << 2):", a << 2)  # Output: 240 (1111 0000 in binary)

# Bitwise Right Shift
print("Bitwise Right Shift (a >> 2):", a >> 2)  # Output: 15 (0000 1111 in binary)

Bitwise AND (a & b): 12
Bitwise OR (a | b): 61
Bitwise XOR (a ^ b): 49
Bitwise NOT (~a): -61
Bitwise Left Shift (a << 2): 240
Bitwise Right Shift (a >> 2): 15

<h2 style="color:Orange; font-size:15px;">
    List data type<br>
    - these are ordered<br>
-mutable-we can change the elements in a list<br>
-indexed- elements can be accessed by indexing(starting from 0)<br>
-it can contain duplicates<br>
    -it can contain multiple data types
</h2>

In [163]:
#some list functions
#len() to know the length of list
l=[1,23,'aparna','naram']
print(len(l))
sep()
#checking the data type
print(type(l))
sep()
#indexing
print(l[0])#accessing the first element
print(l[-1])#accessign the last element
sep()
# to check if name is available
result='aparn' if 'aparna' in l else 'appu'
print(result)
sep()
#inserting new element
l[0]=12
print(l)
sep()
#inser(index,value)
l.insert(1,2)
print(l)
sep()
#append()-to insert at the end
l.append(44)
print(l)
sep()
#extend()-for adding multiple elements at the end
l.extend([6,7])
print(l)
sep()
#remove()- removes the first matching element
l.remove(44)
print(l)
sep()
#pop()-removes the element at index
l.pop(1)
print(l)
sep()
#clear()-removes all elements
l.clear()
print(l)
sep()
l=[1,23,3,56]
#sort()-sorting the list
l.sort()
print(l)
l.sort(reverse=True)
print(l)
#looping
for i in l:
    print(i)
sep()
#looping using indexing
for i in range(len(l)):
    print(l[i])

4
----------------------------------------
<class 'list'>
----------------------------------------
1
naram
----------------------------------------
aparn
----------------------------------------
[12, 23, 'aparna', 'naram']
----------------------------------------
[12, 2, 23, 'aparna', 'naram']
----------------------------------------
[12, 2, 23, 'aparna', 'naram', 44]
----------------------------------------
[12, 2, 23, 'aparna', 'naram', 44, 6, 7]
----------------------------------------
[12, 2, 23, 'aparna', 'naram', 6, 7]
----------------------------------------
[12, 23, 'aparna', 'naram', 6, 7]
----------------------------------------
[]
----------------------------------------
[1, 3, 23, 56]
[56, 23, 3, 1]
56
23
3
1
----------------------------------------
56
23
3
1

<h2 style="color:Orange; font-size:15px;">
    tuple data type<br>
    - elements are ordered<br>
-elements can not be changed,removed or added<br>
-allows duplicates<br>
    -can contain mixed data types
</h2>

In [169]:
#some tuple functions
#len()-to know the length of tuple
t=(1,2,3,4,'python')
print(len(t))
sep()
#type()- to check the data type
print(type(t))
sep()
#accessing the first element
print(t[0])

5
----------------------------------------
<class 'tuple'>
----------------------------------------
1

<h2 style="color:Orange; font-size:15px;">
    set data type<br>
    - elements are unordered<br>
-elements can be changed,removed or added<br>
-no duplicates are allowed<br>
    -fast membership testing (in and not in) than lists<br>
    -allows different data types inside
</h2>

In [176]:
#some set functions
s={1,23,'aparna',True}
print(s)
sep()
#len()-to check the length
print(len(s))
sep()
#add()- to add new element to set
s.add(2)
print(s)
sep()
#update()-to combine two sets
s1={4,5,6}
s.update(s1)
print(s)
sep()
#remove()- to remove element
s.remove('aparna')
print(s)

{'aparna', 1, 23}
----------------------------------------
3
----------------------------------------
{'aparna', 1, 2, 23}
----------------------------------------
{1, 2, 4, 5, 6, 23, 'aparna'}
----------------------------------------
{1, 2, 4, 5, 6, 23}

In [177]:
#set operations

# Union
s1 = {1, 2, 3}
s2 = {3, 4, 5}
union_set = s1 | s2  # {1, 2, 3, 4, 5}
print("Union:", union_set)

union_set = s1.union(s2)  # {1, 2, 3, 4, 5}
print("Union using union():", union_set)

# Intersection
intersection_set = s1 & s2  # {3}
print("Intersection:", intersection_set)

intersection_set = s1.intersection(s2)  # {3}
print("Intersection using intersection():", intersection_set)

# Difference
difference_set = s1 - s2  # {1, 2}
print("Difference:", difference_set)

difference_set = s1.difference(s2)  # {1, 2}
print("Difference using difference():", difference_set)

# Symmetric Difference
symmetric_diff_set = s1 ^ s2  # {1, 2, 4, 5}
print("Symmetric Difference:", symmetric_diff_set)

symmetric_diff_set = s1.symmetric_difference(s2)  # {1, 2, 4, 5}
print("Symmetric Difference using symmetric_difference():", symmetric_diff_set)

# Subset
s3 = {1, 2}
s4 = {1, 2, 3}
is_subset = s3 <= s4  # True
print("Is Subset:", is_subset)

is_subset = s3.issubset(s4)  # True
print("Is Subset using issubset():", is_subset)

# Superset
is_superset = s4 >= s3  # True
print("Is Superset:", is_superset)

is_superset = s4.issuperset(s3)  # True
print("Is Superset using issuperset():", is_superset)

# Disjoint
s5 = {1, 2, 3}
s6 = {4, 5, 6}
are_disjoint = s5.isdisjoint(s6)  # True
print("Are Disjoint:", are_disjoint)

# Add
s7 = {1, 2, 3}
s7.add(4)  # {1, 2, 3, 4}
print("After")

Union: {1, 2, 3, 4, 5}
Union using union(): {1, 2, 3, 4, 5}
Intersection: {3}
Intersection using intersection(): {3}
Difference: {1, 2}
Difference using difference(): {1, 2}
Symmetric Difference: {1, 2, 4, 5}
Symmetric Difference using symmetric_difference(): {1, 2, 4, 5}
Is Subset: True
Is Subset using issubset(): True
Is Superset: True
Is Superset using issuperset(): True
Are Disjoint: True
After

<h2 style="color:Orange; font-size:15px;">
    dictionary data type<br>
    - it is unordered, mutable collection of key-value pairs<br>
    -keys must be unique and immutable like numbers,strings or tuples<br>
    -values can be of any data type
</h2>