## Basics of Python

Printing text

In [1]:
print("Hello, world")

Hello, world

Comments:<br>
these are used for readibility, debugging and maintenance<br>
Two types of comments:<br>
1. Single line comments<br>
'#' is used for single line commenting<br>
2. Multi line comments<br>
it is used for documenting functions, modules and classes<br>
''' or """ are used for this purpose

In [2]:
#single line comment
name="Aparna"
#print the name
print(name)

Aparna

In [4]:
""" Multiline
strings as comments
"""
print("world is so big")

world is so big

Literals<br>
Fixed values written directly in the code<br>
Do not change by themselves<br>
Cannot store data, they are the data<br>
dont have name<br>
used to assign values to variables

In [5]:
#Literal
x=10 #10 is a literal
x

10

Variables<br>
named memory locations<br>
used to store data<br>
values can change during execution<br>
have a name(identifier)

In [6]:
#variable
y="age" #y is variable and "age" is literal
y

'age'

Rules for python variables<br>
must start with a letter(a-z or A-Z) or underscore(_)<br>
cannot start with a number<br>
can contain letters, numbers and underscore<br>
no spaces allowed<br>
case sensitive(age,Age and AGe are different)<br>
cannot be a python keyword

In [7]:
#defining separator function
def sep():
    print("------"*6)

In [9]:
#Valid variable name
name="Aparna"
print(name)
Name="Aparna"
print(Name)
_name1="Aparna"
print(_name1)

Aparna
Aparna
Aparna

In [10]:
#Invalid variable names which give error
1name="Aparna"
print(1name)
my name="Naram"
print(my name)
def="Aparna"
print(def)

SyntaxError: invalid decimal literal (19625117.py, line 2)

In [11]:
#assigning multiple values to multiple variables
a,b,c=1,2,3
print(a)
print(b)
print(c)

1
2
3

In [12]:
#same value to multiple variables
a=b=c=2.5
print(a)
print(b)
print(c)

2.5
2.5
2.5

In [13]:
#unpack a collection
fruits=['apple','banana','cherry']
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
cherry

type()<br>
it is used to know the data type of given variable

In [14]:
x=10
type(x)

int

Data types<br>
what type of data a variable holds<br>
what operations can be performed on it
python automatically assigns a data type when a variable is created. No need to specify the data type during variable creation

Different data types<br>
text type: str<br>
numeric type: int, float, complex<br>
sequence: list, tuple, range<br>
mapping: dict<br>
set: set, frozen set<br>
boolean: bool<br>
binary types: bytes, bytearray, memory view<br>
None: None

In [17]:
#numeric type
z=1
print(type(z))
y=2.5
print(type(y))
x=1+2j
print(type(x))

<class 'int'>
<class 'float'>
<class 'complex'>

In [21]:
#string
name=" aparna "
type(name)

str

In [28]:
#string operations
print(name.upper())
sep()
print(name.lower())
sep()
print(name.strip()) #removes white spaces
sep()
print(name.replace('a','k')) #replacing a with k
sep()
a="Hello, World"
print(a.split(','))
sep()
a="Aparna"
b="Naram"
print(a+" "+b) #adding two strings

 APARNA
------------------------------------
 aparna
------------------------------------
aparna
------------------------------------
 kpkrnk
------------------------------------
['Hello', ' World']
------------------------------------
Aparna Naram